<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/0171957e2b.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row pt-4">
          <div class="col-md-2">
            <div class="dropdown d-flex justify-content-end">
              <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/">Balance</a>
                <a class="dropdown-item" href="budget">Budget</a>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card-group">
              <div class="card bg-light mb-3">
                <div class="card-body">
                  <h2 class="card-title">$0.00</h2>
                  <p class="card-text text-muted">Starting Balance</p>
                </div>
              </div>
              <div class="card bg-light mb-3">
                <div class="card-body">
                  <h2 class="card-title text-danger">$0.00</h2>
                  <p class="card-text text-muted">Outgoing</p>
                </div>
              </div>
              <div class="card bg-light mb-3">
                <div class="card-body">
                  <h2 class="card-title text-success">$0.00</h2>
                  <p class="card-text text-muted">Incoming</p>
                </div>
              </div>
              <div class="card bg-light mb-3">
                <div class="card-body">
                  <h2 class="card-title">$0.00</h2>
                  <p class="card-text text-muted">Ending Balance</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="btn-group">
              <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= req.query.dateFilter %>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/"><%= req.query.dateFilter %></a>
                <% if(req.query.dateFilter === 'Month') { %>
                <a class="dropdown-item" href="/?dateFilter=Year">
                  Year
                </a>
                <a class="dropdown-item" href="?dateFilter=Week">Week</a>
                <% } %>
                <% if(req.query.dateFilter === 'Year') { %>
                <a class="dropdown-item" href="/?dateFilter=Week">
                  Week
                </a>
                <a class="dropdown-item" href="?dateFilter=Month">Month</a>
                <% } %>
                <% if(req.query.dateFilter === 'Week') { %>
                <a class="dropdown-item" href="/?dateFilter=Month">
                  Month
                </a>
                <a class="dropdown-item" href="?dateFilter=Year">Year</a>
                <% } %>
              </div>
            </div>
            <h2><%= moment(startDate).format('MMM/DD/YYYY') %> - <%= moment(endDate).format('MMM/DD/YYYY') %></h2>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary" onclick="javascript:window.location='/?previous=true&currentDate=<%= req.query.currentDate.toString() %>&dateFilter=<%= req.query.dateFilter %>'">Previous</button>
              <button type="button" class="btn btn-outline-primary" onclick="javascript:window.location='/?next=true&currentDate=<%= req.query.currentDate.toString() %>&dateFilter=<%= req.query.dateFilter %>'">Next</button>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-12">
            <div class="d-flex justify-content-end pb-3">.
              <button type="button" class="btn btn-outline-primary ">Upload .csv</button>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="padding-left: 0px;" scope="col">Date</th>
                  <th style="padding-left: 0px;" scope="col">Payee</th>
                  <th scope="col">Category</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i=0; i < results.length; i++) { %>
                   <tr>
                     <th scope="row"><%= moment(results[i].date).format('MMM-DD-YYYY') %></th>
                     <td><%= results[i].payee %></td>
                     <td><%= results[i].postings[0].account %></td>
                     <td><%= results[i].postings[0].commodity.formatted %></td>
                   </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </body>
</html>
